<a href="https://colab.research.google.com/github/celiapuerto/planes_classification/blob/main/notebooks/train_classification_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! curl -O https://www.robots.ox.ac.uk/~vgg/data/fgvc-aircraft/archives/fgvc-aircraft-2013b.tar.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2625M  100 2625M    0     0  7894k      0  0:05:40  0:05:40 --:--:-- 10.4M

In [2]:

!tar xzf fgvc-aircraft-2013b.tar.gz

In [3]:
! mv fgvc-aircraft-2013b dataset

In [4]:
import pandas as pd

In [5]:
import pathlib

In [6]:
# on met en majuscule car c'est une constante, ça ne va pas changer
DATA_DIR= pathlib.Path('dataset/data')

In [10]:
#lire un fichier
# DATA_DIR c'est le debut du chemin pour qu'on est pas a le réécrire

manufacturer_df=pd.read_csv(DATA_DIR/'images_manufacturer_train.txt', sep=' ',
            names=['image_id', 'manufacturer'],
            dtype={'image_id': str}, #pour prendre id comme chaine de caractère, cela permet de prendre les 0 non significatifs
            )

In [12]:
manufacturer_df['manufacturer'].value_counts(dropna=False)

Boeing         733
Airbus         434
Embraer        233
McDonnell      232
de             167
Canadair       134
Douglas        133
Cessna         133
British        133
Lockheed       102
Fokker         100
Dassault        67
Gulfstream      67
Beechcraft      67
Saab            67
Tupolev         66
ATR             66
Panavia         34
Antonov         34
Dornier         34
Yakovlev        34
Bombardier      33
Ilyushin        33
Fairchild       33
Piper           33
Cirrus          33
Eurofighter     33
Supermarine     33
Robin           33
Name: manufacturer, dtype: int64

In [13]:
#pour voir si il y a des valeurs manquantes
manufacturer_df.isna().sum()

image_id        0
manufacturer    0
dtype: int64

In [16]:
# autre foction plus automatique (valeurs manquantes dans image_id)
assert manufacturer_df['image_id'].isna().sum() == 0, "valeur manqunte dans image_id"
assert manufacturer_df['manufacturer'].isna().sum() == 0, "valeur manquante dans manufacturer"

Deal with n columns

In [17]:
#première méthode
manufacturer_df=pd.read_csv(DATA_DIR/'images_manufacturer_train.txt', sep=' ',
            names=['image_id', 'm1', 'm2'],
            dtype={'image_id': str}, #pour prendre id comme chaine de caractère, cela permet de prendre les 0 non significatifs
            )
manufacturer_df['manufacturer']= manufacturer_df["m1"]+' '+manufacturer_df["m2"]
manufacturer_df['manufacturer'].unique()

array([nan, 'British Aerospace', 'Lockheed Corporation',
       'Douglas Aircraft', 'McDonnell Douglas', 'de Havilland',
       'Lockheed Martin', 'Dassault Aviation', 'Bombardier Aerospace',
       'Gulfstream Aerospace', 'Cirrus Aircraft'], dtype=object)

In [19]:
# deuxième méthode
manufacturer_df= pd.read_csv(DATA_DIR/ 'images_manufacturer_train.txt', sep='/t',
                             names=['all'],
                             dtype= {'all': str},
                             )
#la fonction split() découpe un chaine de caractères
manufacturer_df['image_id']= manufacturer_df['all'].apply(lambda x: x.split(' ')[0])
# la fonction .join(liste) concatène les éléments de la liste en utilisant le séparateur ' ' 
manufacturer_df['manufacturer']= manufacturer_df['all'].apply(lambda x: ' '.join(x.split(' ')[1:]))

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [20]:
manufacturer_df['manufacturer'].unique()

array(['Boeing', 'Airbus', 'ATR', 'Antonov', 'British Aerospace',
       'Beechcraft', 'Lockheed Corporation', 'Douglas Aircraft Company',
       'Canadair', 'Cessna', 'McDonnell Douglas', 'de Havilland', 'Robin',
       'Dornier', 'Embraer', 'Eurofighter', 'Lockheed Martin',
       'Dassault Aviation', 'Fokker', 'Bombardier Aerospace',
       'Gulfstream Aerospace', 'Ilyushin', 'Fairchild', 'Piper',
       'Cirrus Aircraft', 'Saab', 'Supermarine', 'Panavia', 'Tupolev',
       'Yakovlev'], dtype=object)

In [22]:
#recherche du caractère T dans le fichier
! grep 'T' dataset/data/images_manufacturer_train.txt | head -3

0724121 ATR
0619697 ATR
2243949 ATR

In [25]:
#nombre de ligne avec 'T'
! grep 'T' dataset/data/images_manufacturer_train.txt | wc -l

132